$body-background-color: #34495e;
$font-size-base: 16px;
$font-family: 'Droid Arabic Naskh', 'Open Sans', tahoma, serif;
$font-family-kufi: 'Droid Arabic Kufi', 'Open Sans', tahoma, serif;
$border-radius-base: 2px;

$btn-primary-bg: #17c2df;
$btn-primary-color: white;
$btn-primary-border: #94CDD7;
$heading-color: #ecf0f1;
$forms-placeholder-color: red;
$input-border-radius: 0;
